/* Hero.js */
.image {
  z-index: -1;
  filter: grayscale(100%);
}

.gradient {
  z-index: -1;
  background: var(--bg-gradient);
}

.search {
  background: var(--bg-gradient);
  right: -1px;
}
/* End of Hero.js */

/* Trending.js */
.carousel {
}
