/* Hero.js */
.image {
  z-index: -1;
  filter: grayscale(100%);
}

.gradient {
  z-index: -1;
  background: var(--bg-gradient);
}

.search {
  background: var(--bg-gradient);
  right: -1px;
}
/* End of Hero.js */

/* Trending.js */
.carousel::after {
  content: "";
  position: absolute;
  opacity: var(--opacity);
  width: 60px;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  pointer-events: none;
  transition: opacity 0.4s ease;
  will-change: opacity;
}
