@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-bebas: "Bebas Neue", sans-serif;
  --bg-gradient: linear-gradient(90deg, rgba(23, 37, 84, 1) 0%, rgba(0, 142, 190, 1) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: none;
}

/* Scroll Bar */
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 8px;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #b6b6b6;
}

/* Customize the scrollbar thumb when pressed */
::-webkit-scrollbar-thumb:active {
  background-color: #9b9b9b;
}

/* Customize the scrollbar track when pressed */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #9b9b9b;
}
